*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #0c192c;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin:0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s/var(--i));

}
.bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}
@keyframes animate
{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform:translateY(-10vh) scale(1);
    }
}
.button{
    position: relative;
    margin: 48px;
  padding: 21px;
  background-color: chartreuse;
  border-radius: 80px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s;
}
.logo{
    margin: -46px 58px;
    padding: -11px;
    width: 103px;
    border-radius: 12px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s;
}
.head {
    font-family: cursive;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    color: darksalmon;
    text-align: center;
    text-decoration: underline;
}
.image{
    width: 614PX;
margin: 51px 333px;
padding: 0px;
border-radius: 5px;
}
.about{
    font-family: cursive;
    margin: -31px 513px;
    padding: -37px 9px;
    background-color: blanchedalmond;
    border-radius: 5px;
    width: 407px;
    height: 358px;
    

}
.cont{
    margin: 0px 0px;
    padding:0px 0px;
    background-color: #ff2d75;
    width:30px;
}
  

