
body{
    
    font-size :14px;
    background: url(14.jpg);
}

.container{
    width: 80%;
    margin: 50px auto;
}
.heading{
    text-decoration: underline;
    text-align: center;
    color: darkgreen;
    margin: 0px;
    padding: 0px;
    
}
.input-group{
    margin: 18px;
padding: 0px;
text-decoration-color: crimson;
}
.buttom{
    background-color: darkcyan;
    width: 113px;
height: 40px;
border-radius: 38px;
}
.contact-box{
    background-color: darkkhaki;
    margin:20px 5px;
    padding: 20px 5px;
    display: flex;
    border-radius: 56px;
    font-family: fantasy;

}
.contact-box-left{
    flex-basis: 60%;
    padding:40px 60px;

    

}
.contact-box-right{

    flex-basis: 40%;
    padding:40px;
    


    
}
h1{
    margin-bottom: 10px;
}
.input-row
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    text-align: center;
    margin: 4px 2px;
    padding: 19px 25px;
}
.contactus{
    text-align: center;
    text-decoration-line: underline;


}
input{
    width:100%;
    border: none;
    border-bottom: 7px solid #ccc;
    outline: none;
    padding-bottom: 5px;
    border-radius: 31px;
    width: 268px;
    height: 50px;
    
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin: 6px;
    
}
